{% extends 'base.html.twig' %}

{% block title %}Home Page!
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		<div>
			{% if is_granted('ROLE_ADMIN') %}
				<p>Welcome, Admin!</p>
			{% elseif is_granted('ROLE_USER') %}
				<p>Welcome,
					{{ app.user.userIdentifier }}!</p>
			{% else %}
				<p>Welcome, Guest! Please
					<a href="{{ path('app_login') }}">log in</a>.</p>
			{% endif %}
		</div>
    {% if is_granted('ROLE_ADMIN') %}
    <div><a href="{{ path('users') }}">Users</a></div>
    {% endif %}
		<div class="d-flex justify-content-center">
			<h2>Center</h2>
		</div>
	</div>

{% endblock %}
