{% for message in conversation.messages %}
	<div class="message-container {% if app.user.id == message.author.id %}message-right{% else %}message-left{% endif %}">
		{% include 'message/content.html.twig' %}
	</div>
{% endfor %}
